@{
  Layout = "_Layout";
}
@using OrderTracker.Models;
<div class="container">
  <h1>Add a New Vendor!</h1>
  <br>
  <form action="/vendors" method="post">
    <label for="vendorName">Vendor Name:</label>
    <input id="vendorName" name="vendorName" class="form-control" type="text" placeholder="Please Enter Vendors Name" required>
    <br>
    <label for="vendorAddress">Address</label>
    <input id="vendorAddress" name="vendorAddress" class="form-control" type="text" placeholder="Please Enter Vendors Address" required>
    <br>
    <button class="btn btn-danger" type="submit">Add</button>
  </form>
  <br>
</div>  
