@{
  Layout = "_Layout";
}
@using OrderTracker.Models;
<div class="container">
  <h3>Here are all the orders for @Model["vendor"].VendorName:</h3>

  <ol>
  @foreach (Order order in @Model["order"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.TypeOfBread</a></li>
  }
  </ol>

  <button class="btn btn-danger"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></button>
</div>  