@{
  Layout = "_Layout";
}
<h1>Order Details: </h1>

<p>Type: @Model["order"].TypeOfBread</p>
<p>Quantity: @Model["order"].Quantity</p>
<p>Date: @Model["order"].Date</p>
<p>Price: $@Model["order"].Price</p>

<button class="btn">Back to:<a href='/vendors/@Model["vendor"].Id'>@Model["vendor"].VendorName Orders</a></button>
<hr>
<button class="btn"><a href="/">Home</a></button>
<button class="btn"><a href="/vendors">View Vendor List</a></button>
<br>
<br>